# Be sure to restart your server when you modify this file.

# Your secret key for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!
# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
Freader::Application.config.secret_token = '5d9acc67a439ed86aa8177c481f364cfaa9ac64ed94735602a4b374ae6c2be02cb2a02632cec6dc4d2cba7c5eeb929bd26a2eea57e3223a3d409083b85dc3bbd'
